* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color: #ffebcd;
    color: navy;
}

/* Header and title */

header {
    background-color: rgba(0, 0, 128, 0.9);
    height: 175px;
    letter-spacing: 2px;
}

.heading {
    float: left;
    width: 50%;
    color: #ffebcd;
    padding: 50px 0;
}

header h1 {
    margin-left: 50px;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

.heading p {
    margin-left: 50px;
    font-size: 1.25em;
    text-transform: capitalize;
}

/* navigation */

#navigation {
    float: right;
    font-size: 125%;
}

#navigation li {
    float: left;
    padding: 25px 15px;
    list-style: none;
}

#navigation a {
    text-decoration: none;
    color:#ffebcd;
}

#navigation a:hover {
    background-color: #ffebcd;
    color: navy;
    border-radius: 5px;
}

.current {
    text-transform: uppercase;
}

/*main page body*/

.main-body {
    display: table;
    width: 100%;
}

/* portrait */

.left-section {
    display: table-cell;
    border-right: solid 2px rgba(0, 0, 128, 0.8);
    background-color: #ffe5bb;
}

.left-section h3 {
    font-size: 150%;
    text-align: center;
    margin: 20px 0;
}

.left-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: solid 3px navy;
}

.left-section p {
    font-size: 110%;
    text-align: center;
    margin-top: 10px;
}

/*main section */

.middle-section {
    display: table-cell;
}

.middle-section h3 {
    font-size: 125%;
    text-align: left;
    margin: 10px 0 0 25px;
    text-decoration: underline;
}

.middle-section p {
    margin: 5px 5px;
    text-align: justify;
}

/* Gallery section */

.right-section {
    display: table-cell;
    border-left: solid 2px rgba(0, 0, 128, 0.8);
    background-color: #ffe5bb;
}

.right-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 75%;
    border: solid 3px navy;
}

.right-section p {
    font-size: 110%;
    text-align: center;
    margin-top: 10px;
}

/* Footer */

.footer {
    float: left;
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 128, 0.9);
}

#foot-info {
    color: #ffe5bb;
    padding: 30px 0;
}

#foot-info li {
    display: inline;
    float: left;
    margin-left: 25px;
    list-style: none;
}

#foot-info p {
    text-transform: uppercase;
}

#foot-info a {
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
}

#foot-info a:hover {
    background-color: #ffebcd;
    color: navy;
    border-radius: 5px;
}

/* for screens below 800 px */
@media screen and (max-width: 800px) {

    header {
        height: 125px;
    }

    .heading {
        padding: 20px 0px;
    }

    #navigation {
        font-size: 100%;
    }

    #navigation li {
        padding: 25px 15px;
    }

    .left-section {
        width: 29.9%;
    }

    .middle-section {
        width: 39.6%;
    }

    .right-section {
        width: 29.9%;
    }

    .footer {
        height: 60px;
    }

    #foot-info {
        padding: 25px 0;
    }

    #foot-info li {
        margin-left: 5px;
    }

    #foot-info p {
        padding: 2px 0;
        font-size: 80%;
    }

    #foot-info a {
        padding: 0 5px;
        font-size: 80%;
    }
}

/* for screens below 700 px */
@media screen and {max-width: 700px;
    

}